<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mythos Hub</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
    <base href="/"></base>
  </head>
  <body>
    <nav>
  {{#if user}}
  <img src="{{user.t_photo_url}}" alt="{{user.name}}" />
  Welcome, {{user.name}}!
  <a href="/logout">Sign out</a>
  {{else}}
  <a href="/login/twitter">Sign in</a>
  {{/if}}
  </nav>
    {{{body}}}
  </body>
</html>
